In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Opponent Shooting Stats Premier League 2024-25

In [2]:
url = "https://fbref.com/en/comps/9/Premier-League-Stats"
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.text, "html.parser")
table_shot_against = soup.find(id="stats_squads_shooting_against")
table_body = table_shot_against.find("tbody")
rows = table_body.find_all("tr")

In [4]:
table_head = table_shot_against.find("thead")
head = table_head.find_all("tr")[1]
rows_head = head.find_all("th")
columns = []
for row in rows_head:
    name = row.get_text()
    columns.append(name)
df = pd.DataFrame(columns=columns)

In [5]:
column_name = []
for row in rows_head:
    name = row.get_text()
    column_name.append(name)

In [6]:
for row in rows:
    team_name = row.find('a').get_text().split(' ')[1]
    cols = row.find_all('td')
    data = [col.get_text() for col in cols]
    data.insert(0, team_name)
    df_length = len(df)
    df.loc[df_length] = data
df

,Squad,# Pl,90s,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Arsenal,23,11.0,12,150,45,30.0,13.64,4.09,0.07,0.24,18.6,5,1,1,11.9,11.1,0.08,+0.1,-0.1
1,Aston,21,11.0,17,121,41,33.9,11.00,3.73,0.13,0.39,17.6,2,1,2,13.3,11.7,0.10,+3.7,+4.3
2,Bournemouth,23,11.0,15,144,60,41.7,13.09,5.45,0.10,0.25,16.0,0,0,0,14.4,14.4,0.10,+0.6,+0.6
3,Brentford,20,11.0,21,203,76,37.4,18.45,6.91,0.10,0.28,17.4,4,0,0,19.3,19.3,0.10,+1.7,+1.7
4,Brighton,28,11.0,15,133,49,36.8,12.09,4.45,0.10,0.27,15.3,3,2,2,18.4,16.8,0.13,-3.4,-3.8
5,Chelsea,23,11.0,13,138,51,37.0,12.55,4.64,0.08,0.22,19.2,10,2,3,15.1,12.7,0.09,-2.1,-1.7
6,Crystal,25,11.0,15,147,53,36.1,13.36,4.82,0.10,0.28,16.5,1,0,0,16.1,16.1,0.11,-1.1,-1.1
7,Everton,22,11.0,17,146,46,31.5,13.27,4.18,0.12,0.37,15.4,4,0,1,16.0,15.2,0.11,+1.0,+1.8
8,Fulham,21,11.0,12,135,45,33.3,12.27,4.09,0.09,0.27,17.5,5,0,0,12.7,12.7,0.10,-0.7,-0.7
9,Ipswich,27,11.0,22,169,63,37.3,15.36,5.73,0.12,0.32,16.5,7,2,2,24.2,22.6,0.14,-2.2,-2.6
10,Leicester,22,11.0,19,194,60,30.9,17.64,5.45,0.09,0.30,15.9,5,1,1,20.0,19.2,0.10,-1.0,-1.2
11,Liverpool,23,11.0,6,110,36,32.7,10.00,3.27,0.05,0.17,17.5,4,0,0,9.3,9.3,0.09,-3.3,-3.3
12,Manchester,21,11.0,12,85,35,41.2,7.73,3.18,0.13,0.31,15.0,1,1,1,13.0,12.3,0.15,-1.0,-1.3
13,Manchester,22,11.0,12,121,38,31.4,11.00,3.45,0.09,0.29,15.9,3,1,2,16.7,15.2,0.13,-4.7,-4.2
14,Newcastle,19,11.0,10,159,52,32.7,14.45,4.73,0.06,0.19,17.1,4,0,0,14.6,14.6,0.09,-4.6,-4.6
15,Nott'ham,23,11.0,10,144,39,27.1,13.09,3.55,0.06,0.23,18.7,2,1,1,11.2,10.4,0.07,-1.2,-1.4
16,Southampton,28,11.0,21,185,63,34.1,16.82,5.73,0.11,0.32,16.5,2,1,1,22.4,21.8,0.12,-1.4,-1.8
17,Tottenham,22,11.0,13,106,36,34.0,9.64,3.27,0.12,0.36,15.0,1,0,0,13.0,13.0,0.12,0.0,0.0
18,West,23,11.0,18,179,50,27.9,16.27,4.55,0.10,0.36,17.0,6,0,0,18.4,18.4,0.10,-0.4,-0.4
19,Wolves,23,11.0,27,167,63,37.7,15.18,5.73,0.15,0.40,16.2,9,2,2,19.8,18.2,0.11,+7.2,+6.8